<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468574374791-e9fclus5u87cuf0qn59bbv9jjm9sga06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468574374791-e9fclus5u87cuf0qn59bbv9jjm9sga06</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>468574374791-ianhet1kmhhnm2hil5djsscvfaq7lpug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZbN7uKMvchBSl06JbJZSae-lsEwbU2ec</string>
	<key>GCM_SENDER_ID</key>
	<string>468574374791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hence.ls</string>
	<key>PROJECT_ID</key>
	<string>hence-livespace</string>
	<key>STORAGE_BUCKET</key>
	<string>hence-livespace.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468574374791:ios:28f334290356383cd22122</string>
</dict>
</plist>